.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .todo {
    display: flex;
    flex-direction: column;
    width: 46rem;
    gap: 1rem;
  }
  
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
    padding: 2rem;
  }

  .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1rem;
  }

  .empty h3 {
    color: var(--gray-200);
    font-weight: bold;
  }
  .empty h4 {
    color: var(--gray-300);
    font-weight: semi-bold;
  }

  .todoForm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: calc(0px - 1.5rem - 6px);
    gap: 0.5rem;
}

.todoForm button[type="submit"] {
    background-color: var(--blue-dark);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
    height: 4rem;
    padding: 0 2rem;
    transition: background-color 0.2s;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.todoForm button[type="submit"]:hover {
    background-color: var(--blue);
}

.todoForm button[type="submit"]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.todoForm button[type="submit"]:not(:disabled):hover {
    background: var(--gray-300);
    cursor: not-allowed;
}

.todoForm input {
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    color:  var(--gray-300);
    font-size: 1rem;
    font-weight: 400;
    height: 4rem;
    padding: 0 1rem;
    width: 37.875rem;
}